@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
    --button-primary: #fabf52;
    --button-primary-hover: #f2820e;
    --button-primary-border: #31313a;
    --button-secondary: #b6b7c3;
    --button-secondary-hover: #5a5b6f;
    --kyu-color-1: #fff9eb;
    --kyu-color-2: #fdedc8;
    --kyu-color-3: #fcd88b;
    --kyu-color-4: #fabf52;
    --kyu-color-5: #f2820e;
    --kyu-color-6: #d8d9df;
    --kyu-color-7: #b6b7c3;
    --kyu-color-8: #5a5b6f;
    --kyu-color-9: #3f3f4d;
    --kyu-color-10: #31313a;
    --kyu-color-11: #25252c;
    --kyu-color-12: #f7f7f8;
    --kyu-color-13: #f8a627;
    --kyu-color-14: #85879b;
    --kyu-color-15: #4a4a5a;
    --kyu-color-16: #eeedf1;
    --kyu-color-17: #18cf6a;
    --kyu-color-18: #ec5347;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    background: var(--kyu-color-12);
    color: var(--kyu-color-10);
  }
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 15px;
    height: 15px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: transparent;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: var(--kyu-color-4);
    border-radius: 100vh;
    border: 2px solid var(--kyu-color-10);
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: var(--kyu-color-5);
  }

  .scrollbar::-webkit-scrollbar-corner {
    background: transparent;
  }
}

.min-h-100 {
  @include min-height(100vh);
}

.p-0 {
  @include padding(0);
}

.p-1 {
  @include padding(1rem);
}

#__next {
  height: 100%;
}

.text-shadow-primary-mobile {
  -webkit-text-stroke: 2px var(--kyu-color-10);
  -moz-text-stroke: 2px var(--kyu-color-10);
  -ms-text-stroke: 2px var(--kyu-color-10);
  color: transparent;
  -webkit-text-fill-color: #fabf52;
  -moz-text-fill-color: #fabf52;
  -ms-text-fill-color: #fabf52;
}

@media screen and (width >= 640px) {
  .text-shadow-primary-mobile {
    -webkit-text-stroke: 3px var(--kyu-color-10) !important;
    -moz-text-stroke: 3px var(--kyu-color-10) !important;
    -ms-text-stroke: 3px var(--kyu-color-10) !important;
  }
}

.accordion-button[data-state='open'] #arrow-down {
  transform: rotate(180deg);
}

.toast-close-btn svg {
  stroke: #fff;
}
